* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.between {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* margin-top: rem; */
}
header > h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-size: 4rem;
}

.btn-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* .left-secret-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

/* .left-line,
.right-line {
  height: 0.5rem;
  width: 57rem;
  background-color: white;
} */

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 2rem;
  height: 6rem;
  width: 6rem;
  font-size: 2.8rem;
  /* border-left: 2rem solid white */
  background-color: black;
  color: black;
  background-color: white;
  margin-inline: auto;
}

.guess {
  height: 5rem;
  width: 10rem;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;

  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  /* margin-top: 7rem; */
  margin: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  gap: 1.5rem;

  font-size: 2.2rem;
  margin: 2rem;
}
.btn {
  height: 5rem;
  width: 12rem;

  font-family: 'Press Start 2P', cursive;

  font-size: 2rem;
  margin: 1rem;
}
